@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

:root {
  --dark: #222222;
  --red: #ff0000;
  --white: #ffffff;
  --basic-font: 'Montserrat', sans-serif;
  --bold-font: 60px;
  --h2-font: 40px;
  --regular-font: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}

body {
  position: relative;
  min-height: 100vh;
  font-family: var(--basic-font);
  font-size: var(--regular-font);
  color: var(--white);
  overflow-x: hidden;
  background-image: url(../assets/images/cinema.jpg);
  background-size: cover;
}

.container {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}


/* HEADER */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.header-logo a {
  display: block;
  width: 170px;
  height: 100px;
  background-image: url(../assets/svg/movie-app-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

input {
  padding: 10px;
  border: 2px solid var(--red);
  border-radius: 5px;
}

::placeholder {
  font-family: inherit;
  color: var(--red);
  font-size: var(--basic-font);
}


/* FOOTER */

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.footer-content a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}

.footer-content a:hover {
  color: var(--red);
}

.git-and-date p {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.rs-school>a {
  display: block;
  width: 100px;
  height: 38px;
  background-image: url(../assets/svg/rs_school_js.svg);
  background-repeat: no-repeat;
}