@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}

:root {
  --bg-dark: #000000;
  --gold: #bdae82;
  --white: #ffffff;
  --header-font: 'Merriweather', serif;
  --basic-font: 'Inter', sans-serif;
  --bold-font: 60px;
  --h2-font: 40px;
  --regular-font: 20px;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}

body {
  font-family: var(--basic-font);
  font-size: var(--regular-font);
  color: var(--white);
}

.container {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('../assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav-container {
  margin-left: auto;
}

.nav-list {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 480px;
  margin-inline-end: 20px;
}

.language-nav {
  margin-right: 0;
  transition: 0.3s;
}

.language-nav-list {
  display: inline-flex;
  justify-content: flex-end;
  width: 60px;
  align-items: center;
  padding-inline-start: 0px;
  list-style: none;
}

.nav-list .nav-link {
  padding: 0px 10px;
  transition: .3s;
}

.language-nav-list .nav-item {
  padding: 0 0 0 10px;
  transition: .3s;
}

.nav-item a {
  color: var(--white);
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--gold);
}

.active-gold a {
  color: var(--gold);
}

.header-logo img {
  width: 100%;
  display: block;
}

.header-container::before {
  position: absolute;
  content: "";
  background-image: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  min-width: 1440px;
  min-height: 910px;
  top: 0;
  margin-left: -20px;
  z-index: -1;
}

.hero-container {
  min-height: 820px;
  margin-bottom: 35px;
}

.hero-legend {
  width: 480px;
  padding-top: 145px;
  padding-left: 60px;
}

h1 {
  font-family: var(--header-font);
  font-size: var(--bold-font);
}

.hero-legend p {
  line-height: 2em;
  margin: -5px 0 25px;
}

button {
  padding: 15px 0;
  border: 2px solid var(--gold);
  font-family: inherit;
  cursor: pointer;
}

.btn-gold {
  width: 220px;
  background-color: var(--gold);
  transition: 0.3s;
}

.btn-black {
  background-color: transparent;
  color: var(--gold);
  transition: 0.3s;
}

.btn-gold:hover,
.btn-black:hover {
  color: var(--white);
}

.skills-container,
.portfolio-container,
.video-container,
.price-container {
  padding-top: 29px;
}

.title-wrapper {
  width: 50%;
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
}

.section-title {
  display: inline-block;
  position: relative;
  font-family: var(--header-font);
  font-size: var(--h2-font);
  color: var(--gold);
}

.section-title::before,
.section-title::after {
  position: absolute;
  display: inline-block;
  top: 49.99%;
  width: 2000px;
  border-top: 2px solid var(--gold);
  content: '';
  margin-left: 0.5em;
}

.section-title::before {
  right: 100%;
  margin-right: 0.5em;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.skill-item {
  max-width: 280px;
  height: 240px;
  padding: 20px;
}

.skill-item:nth-child(n) {
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center 24px;
}

.skill-item:nth-child(1) {
  background-image: url('../assets/svg/camera.svg');
}

.skill-item:nth-child(2) {
  background-image: url('../assets/svg/video.svg');
}

.skill-item:nth-child(3) {
  background-image: url('../assets/svg/image.svg');
}

.skill-item:nth-child(4) {
  background-image: url('../assets/svg/mic.svg');
}

.skill-header {
  text-align: center;
  padding-top: 93px;
  font-weight: 700;
}

.skill-feature {
  text-align: center;
  padding-top: 9px;
  font-size: 0.9em;
  line-height: 2;
}

.portfolio-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 895px;
  margin: 43px auto;
}

.portfolio-button-item button {
  width: 220px;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 25px;
  padding-top: 16px;
}

.portfolio-container {
  margin-bottom: 30px;
}

.gallery-item img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.video-player {
  position: relative;
  margin: 44px auto 30px;
}

.player-btn {
  position: absolute;
  padding: 0;
  width: 130px;
  height: 130px;
  border: none;
  outline: none;
  background: transparent;
  background-image: url('../assets/svg/player-btn.svg');
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -51%);
  -moz-transform: translate(-50%, -51%);
  -ms-transform: translate(-50%, -51%);
  -o-transform: translate(-50%, -51%);
  transform: translate(-50%, -51%);
  transition: 0.3s;
}

.player-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price-items {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.price-item {
  box-sizing: border-box;
  width: 450px;
  height: 505px;
  padding: 25px;
  text-align: center;
  border: 2px solid var(--gold);
}

.price-item h3 {
  font-family: var(--header-font);
  font-size: 1.4em;
  font-weight: 700;
}

.price-item h4 {
  font-family: var(--header-font);
  font-size: 1.2em;
  font-weight: 700;
  color: var(--gold);
  padding-top: 10px;
}

.price-item>ul {
  padding-inline-start: 0;
}

.price-item>ul>li {
  list-style: none;
  font-size: 0.9em;
  line-height: 2em;
}

.price-item .btn-gold {
  margin-top: 17px;
}

.contact-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 700px;
  margin-top: 100px;
}

.contact-form-wrapper {
  position: absolute;
  content: "";
  background-image: url("../assets/img/contacts.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  min-width: 1440px;
  min-height: 700px;
  margin-left: -20px;
  z-index: -1;
}

.contact-form-container {
  width: 450px;
  margin-top: 45px;
}

.contact-title {
  font-family: var(--header-font);
  font-size: var(--h2-font);
  color: var(--gold);
}

 ::placeholder {
  font-family: inherit;
  color: var(--gold);
  font-size: var(--basic-font);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--gold);
  transition: background-color 0s ease-in-out 9000s;
}

input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--gold);
  width: 426px;
  height: 43px;
  margin-bottom: 21px;
  padding-left: 18px;
  color: var(--white);
}

textarea {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--gold);
  width: 426px;
  height: 82px;
  margin-bottom: 26px;
  padding-top: 11px;
  padding-left: 18px;
  color: var(--white);
  resize: none;
}

.contact-form {
  padding-top: 23px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.footer-container a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.footer-container a:hover {
  color: var(--gold);
}

.git-and-date p {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.rs-school {
  padding-left: 60px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin-top: 15px;
  align-items: center;
  list-style: none;
}

.social-item {
  width: 32px;
  height: 32px;
}

.social-item-link {
  display: block;
  width: 32px;
  height: 32px;
}

.social-item:nth-child(n) {
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.social-item:nth-child(1) {
  background-image: url('../assets/svg/inst.svg');
}

.social-item:nth-child(2) {
  background-image: url('../assets/svg/fb.svg');
}

.social-item:nth-child(3) {
  background-image: url('../assets/svg/tw.svg');
}

.social-item:nth-child(4) {
  background-image: url('../assets/svg/pinterest.svg');
}

.social-item:nth-child(1):hover,
.social-item:nth-child(2):hover,
.social-item:nth-child(3):hover,
.social-item:nth-child(4):hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


/* TABLET */

.hamburger-container {
  display: none;
}

@media (max-width: 768px) {
   :root {
    --bold-font: 1.6em;
    --h2-font: 32px;
  }
  .container {
    width: 768px;
    padding: 0 60px;
  }
  .skills-container {
    padding-top: 0px;
  }
  .language-nav {
    margin-right: 75px;
  }
  .language-nav-list {
    width: 100px;
  }
  .hamburger-container {
    display: block;
    position: fixed;
    right: 64px;
    top: 20px;
    z-index: 1;
  }
  .nav-container {
    overflow-x: hidden;
  }
  .nav {
    position: fixed;
    width: 620px;
    height: 1024px;
    top: 0;
    right: -620px;
    background-color: var(--bg-dark);
    transition: 0.5s;
    z-index: 1;
  }
  .nav.is-active {
    right: 0px;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
    gap: 39px;
    margin-top: 140px;
    margin-left: 76px;
  }
  .nav-list li {
    margin-top: 10px;
    font-size: 35px;
  }
  .language-nav-list .nav-item {
    padding: 0 0 0 15px;
  }
  .header-container::before {
    min-width: 768px;
    min-height: 590px;
    background-position: -5px -30px;
    background-size: auto 620px;
    margin-left: -60px;
  }
  .hero-legend {
    width: 400px;
    padding-top: 70px;
    padding-left: 0px;
  }
  .hero-legend p {
    line-height: 1.2em;
    margin: 34px 0 58px;
  }
  .hero-container {
    min-height: 540px;
  }
  .title-wrapper {
    width: 56%;
  }
  .section-title::before {
    margin-right: 0.65em;
  }
  .section-title::after {
    margin-left: 0.65em;
  }
  .skill-item:nth-child(n) {
    background-position: center 20px;
  }
  .skill-item:nth-child(n+2) {
    padding-right: 14px;
  }
  .skill-item {
    height: 220px;
    padding: 20px 10px;
  }
  .skill-header {
    padding-top: 68px;
  }
  .skill-feature {
    line-height: 1.2;
  }
  .portfolio-container {
    padding-top: 58px;
  }
  .portfolio-buttons {
    justify-content: center;
    gap: 4px;
    margin: 46px auto;
  }
  button {
    padding: 14px 0;
  }
  .portfolio-gallery {
    justify-content: center;
  }
  .video-container {
    padding-top: 21px;
  }
  .video-player {
    margin: 46px -60px 0px -60px;
    overflow: hidden;
  }
  .video-player img {
    width: 108%;
    margin-left: -6px;
    margin-right: -6px;
  }
  .player-btn {
    width: 65px;
    height: 65px;
    background-size: contain;
  }
  .price-container {
    padding-top: 50px;
  }
  .price-items {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 26px;
  }
  .price-item {
    width: 420px;
    margin-bottom: 50px;
  }
  .contact-section {
    height: 600px;
    overflow: hidden;
    margin-top: 29px;
  }
  .contact-form-wrapper {
    min-width: 768px;
    min-height: 600px;
    margin-left: -60px;
    background-image: url("../assets/img/contacts-small.jpg");
  }
  .contact-container {
    min-height: 600px;
    margin-top: 2px;
  }
  .contact-container {
    justify-content: center;
  }
  .contact-title {
    text-align: center;
  }
  .contact-form {
    padding-top: 28px;
  }
  .contact-form button {
    margin: 0 auto;
    display: block;
  }
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 150px;
    margin-top: 9px;
  }
  .rs-school {
    padding-left: 0;
  }
  .rs-school p {
    margin-block-start: 0;
    margin-block-end: 0.6em;
  }
  .social-list {
    padding-inline-start: 0;
  }
}

@media (max-width: 420px) {
   :root {
    --bold-font: 1.6em;
    --h2-font: 32px;
  }
  .portfolio-gallery {
    display: block;
  }
  .gallery-item {
    padding-bottom: 20px;
  }
  .price-item {
    width: 80%;
  }
}